#principal {
    font-family: Arial;
    background-color: linen;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    margin-top: 4px;
}

.form-control {
    width: 40%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    padding: 10px 20px;
    background-color: brown;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: bisque;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid burlywood;
    padding: 8px;
}

th, h1, h2 {
    text-align: center;
}

tr:nth-child(even){
    background-color: lightsalmon;
}

p{
    font-size: 20px;
}

