<div id="principal">
    <h1>Práctica Double Binding, <br> directivas estructurales (if y for) </h1>
    <h2>Altas de Estudiantes</h2>
    <div>
      <label for="nombre" class="form-label">Nombre: </label>
      <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre">
    </div>
    <div>
      <label for="promedio" class="form-label">Promedio: </label>
      <input type="number" class="form-control" id="promedio" [(ngModel)]="promedio">

    </div>
    <button class="btn" (click)="agregarDatos()">Agregar</button>

    @if(estudiantes.length>0){
      <h2></h2>
      <table>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Promedio</th>
          <th>Eliminación</th>
        </tr>
        @for(item of estudiantes; track item; let i=$index){
              <tr>
                <td>{{i+1}}</td>
                <td #nombre [innerHTML]="item.nombre"></td>
                <td [innerHTML]="item.promedio"></td>
                <td>
                  <button class="btn" (click)="eliminarEstudiante(nombre.innerHTML)" >Eliminar</button>
                </td>
              </tr>
        }
      </table>

    } @else {
      <p>No hay estudiantes agregados</p>
    }  


</div>